# Mathematical Operations

## Run The Following Code
Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> This is how you do 1 + 1. The output value shows the result of your code

In [1]:
1+1

2

> Try out a number subtracted by another number. The symbol for subtraction is -

In [2]:
10 - 8

2

> Try out a number multiplied by another number. The symbol for multiply is *

In [3]:
5 * 2

10

> Try out a number divided by another number. The symbol for division is /

In [4]:
10 / 3

3.3333333333333335

> Try out a number raised to the power of another number. The symbol for to the power of is **

In [5]:
2**3

8

> How do you do square root using to the power of? Try it out

In [6]:
4**0.5

2.0

> Use brackets ( ) to create a long and complicated mathematical expression. Verify that this is what you expect.

In [7]:
(1+4/2)*3/(3**3)

0.3333333333333333

# Variables And Data Types

## Run The Following Code
Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> Declare a variable called <b>name</b> and give it a value <b>"John"</b>

In [8]:
name = "John"

> Print out what is the value of the variable <b>name</b>

In [9]:
print(name)

John

> Print out what is the data type of the variable <b>name</b>

In [10]:
type(name)

str

> Declare a variable called <b>height</b> and give it a value <b>180</b>

In [11]:
height = 180

> Print out what is the value of the variable <b>height</b>

In [12]:
print(height)

180

> Print out what is the data type of the variable <b>height</b>

In [13]:
type(height)

int

> Declare a variable called <b>weight</b> and give it a value <b>80.6</b>

In [14]:
weight = 80.6

> Print out what is the value of the variable <b>weight</b>

In [15]:
print(weight)

80.6

> Print out what is the data type of the variable <b>weight</b>

In [16]:
type(weight)

float

> Note that you cannot start variable names with numbers. The following code will give an error.

In [17]:
1_name = "John"

SyntaxError: invalid decimal literal (Temp/ipykernel_18704/3459620601.py, line 1)

> Note that you cannot start variable names with some reserved words. The following code will give an error.

In [18]:
def = "John"

SyntaxError: invalid syntax (Temp/ipykernel_18704/2161931859.py, line 1)

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
For example:
length = <..> will be replaced by length = 10

# Question 1
1) Declare a variable length<br/>
2) Assign a value of 10 to it<br/>
3) Print out the variable length<br/>

In [19]:
length = 10
print(length)

10

# Question 2
1) Declare a variable breadth<br/>
2) Assign a value of 5 to it<br/>
3) Print out the variable breadth<br/>

In [20]:
breadth = 5
print(breadth)

5

# Question 3
1) Declare a variable area<br/>
2) Calculate the area using the formula area = length * breadth<br/>
3) Print out the variable area<br/>

In [21]:
area = length * breadth
print(area)

50

# Question 4
1) Declare a variable number_of_eggs<br/>
2) Store a value of 20<br/>
3) Print out the variable number_of_eggs<br/>

In [22]:
number_of_eggs = 20
print(number_of_eggs)

20

# Question 5
1) Declare a variable number_of_people<br/>
2) Store a value of 3<br/>
3) Print out the variable number_of_people<br/>

In [23]:
number_of_people = 3
print(number_of_people)

3

# Question 6
1) Declare a variable eggs_per_person<br/>
2) Store the result of divide the number_of_eggs by number_of_people into eggs_per_person<br/>
2) Print out eggs_per_person<br/>

In [24]:
eggs_per_person = number_of_eggs / number_of_people
print(eggs_per_person)

6.666666666666667

# Question 7
1) I want the value in eggs_per_person to be a whole number<br/> 
2) % is a special operator in Python that allows you to find the remainder from a division operation.<br/>
3) For example, 10 % 3 will return 1<br/>
4) Declare a variable <b>remainder</b> to store the value when number_of_eggs is divided by number_of_people<br/>

In [25]:
remainder = number_of_eggs % number_of_people

# Question 8
1) Since we have found out the remainder, remove that remainder from the number_of_eggs<br/>
2) Then divide the outcome by number_of_people to find out how many eggs each person gets<br/>
3) Do this as a single operation<br/>
4) Print out --> Each person gets 6.0 eggs.<br/>

In [26]:
eggs_per_person = (number_of_eggs - remainder) / number_of_people

In [27]:
print("Each person gets", eggs_per_person,"eggs.")

Each person gets 6.0 eggs.